*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
    background-color:black;
    font-size: 1rem;
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    position: relative;
    background-image: url(imgs/clear.jpg);
    background-size: cover;
    background-position: center;
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

.container {
    display: flex;
    flex-direction: column;
    place-items: center;
    padding-top: 2rem;
}

.main-container,
.grid-info {
    text-align: center;
    padding-bottom: 2rem;
}

.grid-info {
    display: grid;
    width: 40vw;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    place-items: center;
    font-size: .75rem;
}
.location,
.temp {
    font-size: 3rem;
}

input {
    padding: .5rem;
    outline: none;
    font-size: .75rem;
}

.update {
    padding: .5rem;
    font-family: inherit;
    font-size: .75rem;
    background-color: white;
    border-radius: 1rem;
    color: gray;
}

.units-container {
    display: flex;
    gap: .5rem;
    padding-top: 1rem;
}

input[type="checkbox"].toggle {
    opacity: 0;
    position: absolute;
    left: -100000px;
    top: -100000px;
}

input[type="checkbox"].toggle + label {
    display: flex;
    position: relative;
    place-items: center;
    cursor: pointer;
}

input[type="checkbox"].toggle + label::before {
    content: "";
    width: 2rem;
    height: 1rem;
    background-color: rgb(194, 190, 190);
    border-radius: 1rem;
    margin-right: .25rem;
}

input[type="checkbox"].toggle + label::after {
    position: absolute;
    left: .1rem;
    content: "";
    width: .9rem;
    height: .9rem;
    background-color: white;
    border-radius: 1rem;
}

input[type="checkbox"].toggle:checked + label::after {
    transform: translateX(100%);
    background-color:white;
}

input[type="checkbox"].toggle:checked + label {
    color: white;
}

a,
a:visited {
    color: inherit;
    text-decoration: underline;
}

footer {
    font-size: .6rem;
    bottom: 1rem;
    width: max-content;
    position: absolute;
}